In [4]:
import pandas as pd

df = pd.read_csv('/home/samruddhak/Downloads/canada_per_capita_income.csv')
df.head()

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [5]:
df.shape

(47, 2)